.news-card__container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 20px;
  background-color: #f2e9d1;
  border-radius: 20px;
}
.news-card__img-main {
  width: 20vw;
  margin-right: 20px;
  border-radius: 20px;
}
.news-card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.news-card__title {
  background-color: #fca311;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
.news-card__btn-container {
  display: flex;
  justify-content: flex-end;
}
.news-card__btn {
  background-color: #fca311;
  color: #fff;
  padding: 7px 14px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 16px;
}
