.news-title-list__container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .news-title-list__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.news-title-card__container {
  width: 25vw;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #e1e1e1;
  border-radius: 20px;
}

.news-title-card__category {
  padding-bottom: 10px;
  background-color: #2d3142;
  color: #fff;
  padding: 7px;
  padding-left: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.news-title-card__title {
  margin-left: 20px;
  padding: 5px;
  list-style: initial;
  cursor: pointer;
}
